.outer-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
:host ::ng-deep .p-inputtext {
  margin-bottom: 20px;
  width: 400px;
}
.image-upload > input {
  display: none;
}
.image-upload i {
  width: 80px;
  cursor: pointer;
}
.image-upload {
  margin-left: 257px;
  margin-bottom: 20px;
}
form {
  position: absolute;
  margin-top: 487px;
  margin-left: 656px;
}
:host ::ng-deep .p-button.p-button-lg {
  margin-left: 151px;
}
