<div
  style="
    height: 530px;
    margin-bottom: 40px;
    overflow: overlay;
    background-attachment: fixed;
  "
>
  <div
    class="msgContainer"
    style="overflow-x: hidden; height: 500px"
    #scrollMe
    [scrollTop]="scrollMe.scrollHeight"
  >
    <ul id="messageList">
      <li *ngFor="let data of messages">
        <div class="right" *ngIf="data.username === username">
          <p class="chat">{{ data.message }}</p>
          <p class="time" style="color: white">
            {{ data.timeStamp | date: "shortTime" }}
          </p>
        </div>
        <div *ngIf="data.username != username" class="left">
          <p class="chat">{{ data.message }}</p>
          <p class="time">
            {{ data.timeStamp | date: "shortTime" }}
          </p>
        </div>
      </li>
    </ul>
    <div *ngIf="typing" class="typing">
      <h6>typing</h6>
      <div
        class="dot"
        [@PulseAtEnds]="state ? 'open' : 'close'"
        (@PulseAtEnds.done)="onEnd()"
      ></div>
      <div
        class="dot"
        [@PulseAtCenter]="state ? 'open' : 'close'"
        (@PulseAtCenter.done)="onEnd()"
      ></div>
      <div
        class="dot"
        [@PulseAtEnds]="state ? 'open' : 'close'"
        (@PulseAtEnds.done)="onEnd()"
      ></div>
    </div>
  </div>
  <div>
    <form [formGroup]="chats" (ngSubmit)="sendMessage()">
      <input
        type="text"
        id="messageInput"
        formControlName="message"
        placeholder="Type a message"
        autocomplete="off"
      />
      <button
        pButton
        type="submit"
        icon="pi pi-check"
        iconPos="right"
        label="send"
      ></button>
    </form>
  </div>
</div>
