<div class="outer-container {{ theme }}">
  <div class="header">
    <i class="pi pi-arrow-left" (click)="goBack()"></i>
    <img *ngIf="dp; else defaultImg" class="dp" src="{{ profile }}" />
    <ng-template #defaultImg>
      <img
        class="dp"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png"
    /></ng-template>
    <p class="liftName">
      {{ chatWith }}
    </p>
    <div *ngIf="userAvailable && !typing" class="typing">
      <h6>Online</h6>
    </div>
    <div *ngIf="!userAvailable && !typing" class="typing">
      <h6
        *ngIf="
          (lastActive | date: 'shortDate') === (today | date: 'shortDate');
          else elseblk
        "
      >
        last active today at
        {{ lastActive | date: "shortTime" }}
      </h6>
      <ng-template #elseblk>
        <h6>
          last active on {{ lastActive | date: "dd/LL/yy" }} at
          {{ lastActive | date: "shortTime" }}
        </h6>
      </ng-template>
    </div>
    <div *ngIf="typing" class="typing">
      <h6>typing</h6>
      <div
        class="dot"
        [@PulseAtEnds]="state ? 'open' : 'close'"
        (@PulseAtEnds.done)="onEnd()"
      ></div>
      <div
        class="dot"
        [@PulseAtCenter]="state ? 'open' : 'close'"
        (@PulseAtCenter.done)="onEnd()"
      ></div>
      <div
        class="dot"
        [@PulseAtEnds]="state ? 'open' : 'close'"
        (@PulseAtEnds.done)="onEnd()"
      ></div>
    </div>
  </div>
  <div class="msgContainer" #scrollMe>
    <ul id="messageList">
      <li *ngFor="let data of messages; let i = index">
        <ng-container *ngIf="messages[i - 1]; else elseblk">
          <div
            class="date"
            *ngIf="
              (messages[i].timeStamp | date: 'shortDate') !=
              (messages[i - 1].timeStamp | date: 'shortDate')
            "
          >
            {{ messages[i].timeStamp | date: "longDate" }}
          </div>
        </ng-container>
        <ng-template #elseblk>
          <div class="date">{{ messages[i].timeStamp | date: "longDate" }}</div>
        </ng-template>
        <div class="right" *ngIf="data.username === username">
          <p class="chat">{{ data.message }}</p>
          <p class="sentTime">
            {{ data.timeStamp | date: "shortTime" }}
            <svg
              *ngIf="data.state == 'sent'"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-check2"
              viewBox="0 0 16 16"
            >
              <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
              />
            </svg>
            <svg
              *ngIf="data.state == 'received'"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-check2-all"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
              />
              <path
                d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"
              />
            </svg>
            <svg
              *ngIf="data.state == 'seen'"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              style="color: blue"
              fill="currentColor"
              class="bi bi-check2-all"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
              />
              <path
                d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"
              />
            </svg>
          </p>
        </div>
        <div *ngIf="data.username != username" class="left">
          <p class="chat">{{ data.message }}</p>
          <p class="time">
            {{ data.timeStamp | date: "shortTime" }}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <form [formGroup]="chats" (ngSubmit)="sendMessage()">
      <div>
        <p-button
          icon="pi pi-link"
          (onClick)="openDialog(fieldInput)"
        ></p-button>
        <input
          #fieldInput
          id="fileInput"
          type="file"
          style="display: none"
        />
      </div>
      <input
        type="text"
        id="messageInput"
        formControlName="message"
        placeholder="Type a message"
        autocomplete="off"
      />
      <button
        class="p-button-lg"
        pButton
        type="submit"
        icon="pi pi-check"
        iconPos="right"
        label="send"
      ></button>
    </form>
  </div>
</div>
