form {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  display: flex;
}
.left {
  padding: 5px 10px 0px 10px;
  width: 40%;
  border-radius: 0px 5px 5px 5px;
  background-color: ivory;
  float: left;
  margin-right: 60%;
  margin-bottom: 10px;
}
.date {
  text-align: center;
  color: wheat;
}
.time {
  color: grey;
  margin: 0px;
  font-size: 13px;
  text-align: right;
  padding: 0px 0px 5px;
}
.chat {
  margin: 0px;
}
input {
  width: 93%;
  padding-left: 5px;
}
button {
  border-radius: 0%;
}
.typing {
  position: absolute;
  margin-top: 34px;
  margin-left: 10px;
}
h6 {
  display: inline;
  padding-bottom: 10px;
  font-size: 16px;
  padding-left: 87px;
  font-weight: 500;
  font-family: serif;
}
.dot {
  border-radius: 50%;
  background-color: white;
  height: 5px;
  width: 5px;
  margin-left: 4px;
  display: inline-block;
}
ul {
  padding: 15px;
  list-style-type: none;
}
::-webkit-scrollbar {
  display: none;
}
.msgContainer {
  overflow-x: hidden;
  height: 699px;
  padding-top: 60px;
  margin-bottom: 10px;
}
p {
  font-size: larger;
}
i {
  margin-top: 26px;
  font-weight: 900;
  font-size: larger;
  margin-right: 6px;
  margin-left: 7px;
  cursor: pointer;
}
.liftName {
  margin: 8px 0px 0px 0px;
  font-weight: 500;
}
.originalPos {
  padding-top: 19px;
  font-weight: 500;
}
:host ::ng-deep .p-button-label {
  margin-left: 0.25rem;
}
:host ::ng-deep .p-button .p-button-icon-right {
  margin-right: 0.25rem;
}
.dp {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 8px;
  margin-right: 15px;
}
.outer-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
:host ::ng-deep .p-button.p-button-icon-only {
  height: 100%;
  border-radius: 0px;
}
