<p-orderList
  class="{{ theme }}"
  [value]="contacts"
  [listStyle]="{ 'max-height': '35rem' }"
  header="List of Contacts"
  filterBy="username"
  filterPlaceholder="Search"
  [dragdrop]="true"
>
  <ng-template let-contact pTemplate="item">
    <div class="product-item">
      <div class="image-container">
        <img
          *ngIf="contact.dp; else defaultImg"
          src="{{dpBaseUrl}}/{{ contact.dp }}"
          [alt]="contact.name"
          class="product-image"
        />
        <ng-template #defaultImg>
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png"
        /></ng-template>
      </div>
      <div class="product-list-detail">
        <h5 class="p-mb-2">
          <a
            class="stretched-link"
            routerLinkActive="active"
            [routerLink]="['/home/chat/chatBox']"
            [queryParams]="{
              username: contact.username,
              profile: contact.dp,
              lastActive: contact.lastActive
            }"
            >{{ contact.username }}</a
          >
        </h5>
        <i *ngIf="contact.status" class="pi pi-slack product-category-icon"></i>
        <span *ngIf="contact.status" class="product-category">{{
          contact.status
        }}</span>
      </div>
      <!-- <div class="product-list-action">
        <h6 class="p-mb-2">${{ contact.price }}</h6>
        <span [class]="'product-badge status-' + contact.inventoryStatus">{{
          contact.inventoryStatus
        }}</span>
      </div> -->
    </div>
  </ng-template>
</p-orderList>
