.contacts {
  border-bottom: 1px solid black;
  padding: 15px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.product-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}
.product-item img {
  width: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.product-item .product-list-detail {
  flex: 1 1 0;
}

.product-item .product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-item .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.product-item .product-category {
  vertical-align: middle;
  line-height: 1;
}
:host ::ng-deep .ui-listbox {
  width: 20em;
  z-index: -1 !important;
}
:host ::ng-deep .p-ink {
  display: none !important;
}
:host ::ng-deep .product-item img {
  height: 90px;
  width: 80px;
}
:host ::ng-deep .p-orderlist .p-orderlist-controls {
  display: none;
}
:host ::ng-deep .p-orderlist .p-orderlist-header {
  display: none;
}
