<p-toolbar>
  <div class="p-toolbar-group-left">
    <a
      class="headings"
      routerLinkActive="active"
      routerLink="/home/user/chats"
      >CHATS</a
    >
    <a
      class="headings"
      routerLinkActive="active"
      routerLink="/home/user/contact-list"
      >CONTACTS</a
    >
  </div>

  <div class="p-toolbar-group-right">
    <p-splitButton
      label="PROFILE"
      icon="pi pi-user"
      [model]="items"
    ></p-splitButton>
    <i class="pi pi-cog" style="font-size: 1.5rem"></i>
  </div>
</p-toolbar>
