$headingColor:white;

:host ::ng-deep .pi-cog {
  color: $headingColor;
  font-size: 22px;
}
:host ::ng-deep .p-toolbar-group-left,
.p-toolbar-group-right {
  display: flex;
  align-items: center;
  font-size: large;
}
:host ::ng-deep .p-toolbar-group-left,
.p-toolbar-group-right {
  font-size: large;
}
:host ::ng-deep .p-button-label {
  font-size: larger;
  font-weight: bold;
}
:host ::ng-deep .p-splitbutton .p-splitbutton-defaultbutton {
  padding-right: 0px;
}
:host ::ng-deep .p-button .p-button-icon-left {
  font-weight: bold;
}
.headings:focus{
  color: bisque;
}